/*
green: #53DD6C
dark-blue: #564787
blue: #5670B7
light-blue: #7EB2DD
white: #EBF5EE
*/

.container {
	overflow:auto;
}

.sidebyside {
	float:left;
	width:40vw;
	margin:20px;
}

.right-hand-side {
	width:35vw;
	margin:10px;
}

.available {
	fill: #53DD6C;
	stroke: black;
	width:50px;
	height:15px;
}

.unavailable {
	fill: #EBF5EE;
	stroke: black;
	width:50px;
	height:15px;
}

.calendar-squares {
	font-family: 'Lato', sans-serif;
	float:left;
	width:60px;
	height:25px;
}

.calendar-squares-row-start {
	font-family: 'Lato', sans-serif;
	width:60px;
	height:25px;
}

.date-squares {
	font-size:11px;
}

body {	
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	background-color: #EBF5EE;
}

h1 {
	font-family: 'Ubuntu', sans-serif;
	color: #283044;
	font-size: 56px;
}

h2 {
	font-family: 'Ubuntu', sans-serif;
	color: #283044;
	font-size: 40px;
}

p {
	display: inline;
	font-family: 'Lato', sans-serif;
	color: #5670B7;
}

/* .button and .button:hover code taken from http://cssdeck.com/labs/google-buttons */

.button {
	display: inline-block;
	background-color: #f5f5f5;
	background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
	background-image: -moz-linear-gradient(top,#f5f5f5,#f1f1f1);
	background-image: -ms-linear-gradient(top,#f5f5f5,#f1f1f1);
	background-image: -o-linear-gradient(top,#f5f5f5,#f1f1f1);
	background-image: linear-gradient(top,#f5f5f5,#f1f1f1);
	color: #444;
	font-family: 'Helvetica Neue', sans-serif;
	
	border: 1px solid #dcdcdc;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	
	cursor: default;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
	height: 27px;
	line-height: 27px;
	min-width: 54px;
	padding: 0 8px;
	text-decoration: none;
}

.button:hover {
	background-color: #F8F8F8;
	background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
	background-image: -moz-linear-gradient(top,#f8f8f8,#f1f1f1);
	background-image: -ms-linear-gradient(top,#f8f8f8,#f1f1f1);
	background-image: -o-linear-gradient(top,#f8f8f8,#f1f1f1);
	background-image: linear-gradient(top,#f8f8f8,#f1f1f1);
	
	border: 1px solid #C6C6C6;
	color: #333;
	
	-webkit-box-shadow: 0px 1px 1px rgba(0,0,0,.1);
	-moz-box-shadow: 0px 1px 1px rgba(0,0,0,.1);
	box-shadow: 0px 1px 1px rgba(0,0,0,.1);
}