{% extends "base.html" %}

{% block content %}
	<a href="/index" style="text-decoration: none"><h1>howabout.xyz</h1></a>
	<p>howabout uses <a href="https://calendar.google.com">google calendar</a> to make filling out meeting planners like <a href="https://when2meet.com">when2meet</a> easier.</p><br>
	<p>howabout is a <a href="https://hackmit.org">HackMIT 2018</a> project done by cory lynch, dillon zhang, cynthia liu, and joonho ko.</p><br>
	<p>find us on <a href="https://github.com/cory2067/howabout.xyz">github.</a></p>
{% endblock %}
