<html>
    <head>
    	<title>how about...</title>
    	<link href="https://fonts.googleapis.com/css?family=Lato|M+PLUS+Rounded+1c|Ubuntu" rel="stylesheet">
    	<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

    	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    	<link rel="stylesheet" href="/static/css/main.css" />
    </head>
    <body>
        {% block content %}{% endblock %}
    </body>
</html>