{% extends "base.html" %}

{% block content %}
<script src="/static/js/create.js"></script>
<h1>create an event</h1>

<!-- event calendar interface goes here -->
<div><p>Sync with Google Calendar:</p> <a href="/login" class="button default">Sync with <i class="fa fa-google"></i></a></div>

<br><br>

<p>...or select date/time manually</p>
<form id="create-form"> <!-- TODO: connect this form to event.html -->
	<p>from:</p>
		{{ form.start_time() }}<br>

	<p>to:</p>
		{{ form.end_time() }}<br>

	<p class="side-by-side">
		dates:
	</p>
	
	<div id="dates-picker">
		<!-- insert a bunch of side-by-side divs -->
	</div>
	<br>

	<p>timezone: [insert timezone selector here]</p><br>
</form>

<button onclick="toJSON()">create event</button>
{% endblock %}