{% extends "base.html" %}

{% block content %}
<script src="/static/js/create.js"></script>
<h1>create an event</h1>

<form id="create-form">
	<p>{{ form.uid.label }}</p>{{ form.uid() }}<br>
	<p>{{ form.host.label }}</p>{{ form.host() }}<br>
	<p>from:</p>
		{{ form.start_time() }}<br>

	<p>to:</p>
		{{ form.end_time() }}
	<br>
	<p class="side-by-side">
		dates:
	</p>
	
	<div id="dates-picker">
		<!-- insert a bunch of side-by-side divs -->
	</div>
	<br>
</form>

<button onclick="toJSON()">create event</button><br><br>

<p>sync with google calendar:</p> <a href="/login" class="button default" id="google-button"><p>sync with <i class="fa fa-google"></i></p></a>
{% endblock %}