{% extends "base.html" %}

{% block content %}
<script src="/static/js/event.js"></script>

<div class="topbar">
	<h2>howabout.xyz</h2>
	<button id="sync-button">Sync with Google Calendar</button>
    <h3>pick availability for {{event.name}}</h3>
    <h3>i want to die, {{uid}}</h3>
</div>
<div class="container">
	<div id="cal" class="sidebyside">
        
	</div>
	<div id="submit-times">
		<button id="submit-button">Submit Times</button>
	</div>
	<div class="sidebyside">
		<div id="input-name" class="right-hand-side">
			<p>Input your name here</p>
		</div>
		<div id="best-times" class="right-hand-side">
			<p>Compute and list out recommended best times</p>
		</div>
		<div id="available-people" class="right-hand-side">
			<p>Just like When2Meet, when you hover over some cells, you see people available and unavailable at that time</p>
		</div>
	</div>
</div>
{% endblock %}
