<html>
  <head>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="/static/js/event.js"></script>
  </head>

  <body>
    <div id="dates">
      <div id="day0">
        Monday: 
        <input type="checkbox" class="date" id="d00">
        <input type="checkbox" class="date" id="d01">
        <input type="checkbox" class="date" id="d02">
        <input type="checkbox" class="date" id="d03">
      </div>
      
      <div id="day1">
        Tuesday: 
        <input type="checkbox" class="date" id="d10">
        <input type="checkbox" class="date" id="d11">
        <input type="checkbox" class="date" id="d12">
        <input type="checkbox" class="date" id="d13">
      </div>
    </div>
  </body
</html>
