.container {
	overflow:auto;
    user-select: none;
}

.sidebyside {
	float:left;
	width:40vw;
	margin:20px;
}

.right-hand-side {
	width:35vw;
	margin:10px;
}

.available {
	fill: #53DD6C;
	stroke: black;
	width:50px;
	height:15px;
}

.unavailable {
	fill: #EBF5EE;
	stroke: black;
	width:50px;
	height:15px;
}

.date {
    padding: 2px;
    width: 50px;
    display: inline-block;
}

.slot {
    width: 50px;
    height: 15px;
    background-color: white;
}

.selected {
    background-color: green !important;
}

.calendar-squares {
	font-family: 'Lato', sans-serif;
	padding: 5px 0px;
}

.date-squares {
	font-size:12px;
	user-select: none;
}

/* possible color palette 1 */
$green: #98E2B6;
$misty-rose: #FFE5D9;
$bubble-gum: #FFCAD4;
$pink-orange: #FFB18D;
$pink: #F4ACB7;
$lighter-pink: #F5B3BD;
$mud-pink: #9D8189;

$d: (1/7)*100%;

.binary-container {
	margin: auto;
	width: 800px;
}

.form-container {
	float: left;
}

#dates-container {
	margin: 0 auto;
	display: grid;
	grid-template-columns: $d $d $d $d $d $d $d;
	width: 45%;
	background-color: $pink-orange;
	border: 5px solid $pink-orange;
	border-radius: 5px;

}

#dates-container > div {
	display: block;
	text-align: center;
	background-color: white;
	border: 1px solid $pink-orange;
}

body {	
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	background-color: $misty-rose; 
}

h1 {
	font-family: 'Ubuntu', sans-serif;
	font-size: 56px;
	color: $mud-pink;
}

h2 {
	font-family: 'Ubuntu', sans-serif;
	font-size: 40px;
	color: $mud-pink;
}

p {
	display: inline;
	font-family: 'Lato', sans-serif;
	color: $mud-pink;
}

#google-button {
	padding: 5px 10px;
	background-color: $pink;
	color: $misty-rose;
	border: 2px solid $bubble-gum;
	border-radius: 30px;
	text-decoration: none;
}

#google-button:hover {
	background-color: $lighter-pink;
}