.container {
	overflow:auto;
    user-select: none;
}

.sidebyside {
	float:left;
	width:40vw;
	margin:20px;
}

.right-hand-side {
	width:35vw;
	margin:10px;
}

.available {
	fill: #53DD6C;
	stroke: black;
	width:50px;
	height:15px;
}

.unavailable {
	fill: #EBF5EE;
	stroke: black;
	width:50px;
	height:15px;
}

.date {
    padding: 2px;
    width: 50px;
    display: inline-block;
}

.slot {
    width: 50px;
    height: 15px;
    background-color: white;
}

.selected {
    background-color: green;
}

/* possible color palette 1 */
$green: #98E2B6;
$misty-rose: #FFE5D9;
$bubble-gum: #FFCAD4;
$pink: #F4ACB7;
$mud-pink: #9D8189;

body {	
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	background-color: $misty-rose; 
}

h1 {
	font-family: 'Ubuntu', sans-serif;
	font-size: 56px;
	color: $mud-pink;
}

h2 {
	font-family: 'Ubuntu', sans-serif;
	font-size: 40px;
	color: $mud-pink;
}

p {
	display: inline;
	font-family: 'Lato', sans-serif;
	color: $mud-pink;
}

/*
green: #53DD6C
dark-blue: #564787
blue: #5670B7
light-blue: #7EB2DD
white: #EBF5EE
*/